/*body{
    background-color: red;
}
*/
.block{
    height: 100vh;
    width: 60%;
    margin-left: 280px;
}
.letraRoja{
    color: red !important; 
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}

.miCarousel{
    height: 80vh;
    width: 100%;
}
.tarjeta .descripcion{
    min-height: 10vh;
}

.efecto{
    opacity: 1;
}
.efecto:hover{
    opacity: 0.7;
}

.descuento{
    right: 15px;
    top: 20px;
    position: absolute;
    width: 20%;
}
.mensajeCarousel {
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,0.4);
    padding: 20px;
    font-size: 4rem;
    text-align: center;
    position: absolute;
    margin-top: 200px;
}
.card-img-top{
    height:60vh;
}

@import 'login.css';
@import 'registro.css';
